@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-dark-dim: #bbbbbb;
  --color-light-dim: #555555;
  --font-sans: "IBM Plex Sans", monospace;
  --font-mono: "IBM Plex Mono", monospace;
  --color-test: rgba(0, 0, 0, .8);
}

@layer {
  .container {
    @apply mx-auto max-w-2xl px-5;
  }
  .title {
    -webkit-text-stroke: 1px #555555;
    -webkit-text-fill-color: white;
    -webkit-animation: fill 0.5s
  }

  [data-theme=dark] .title {
    -webkit-text-stroke: 1px #666666;
    -webkit-text-fill-color: black;
  }
}
